.content__head {
  display: flex;
  padding: 0rem 0.4rem;
  align-items: center;
  gap: 0.8rem;
}
.content__head__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
}
.content__head__right__top {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content__head__right__bottom {
  font-family: Helvetica;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #a4acb7;
}
.content__head--icon {
  width: 1.6rem;
  height: 1.6rem;
}
.content__head--icon > svg > path {
  transition: all 0.3s ease-in-out;
}
.content__head--icon:hover {
  cursor: pointer;
}
.content__head--icon:hover > svg > path {
  fill: #45b1e8;
}
.content__head--icon > svg {
  width: 100%;
  height: 100%;
}
.content__body {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  align-self: stretch;
}
.content__body__graphsOne {
  display: flex;
  align-items: flex-start;
  gap: 2.4rem;
  align-self: stretch;
}
.content__body__graphsOne--item {
  display: flex;
  min-height: 44.6rem;
  padding: 3.2rem 2.4rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 1.6rem;
  border: 1px solid #a4acb7;
  background-color: #31323d;
  width: 100%;
}
.content__body__graphsOne--item__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.content__body__graphsOne--item__head__serverID {
  font-family: Helvetica;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #a4acb7;
}
.content__body__graphsOne--item__head__select {
  display: flex;
  height: 4.6rem;
  padding: 0rem 1rem;
  align-items: center;
  gap: 0.6rem;
}
.content__body__graphsOne--item__head__select__text {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content__body__graphsOne--item__data {
  display: flex;
  padding: 0.8rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}
.content__body__graphsOne--item__data__head {
  display: flex;
  padding: 0rem 1.2rem;
  align-items: center;
  gap: 1.2rem;
}
.content__body__graphsOne--item__data__head__icon {
  width: 3.2rem;
  height: 3.2rem;
}
.content__body__graphsOne--item__data__head__icon > svg {
  width: 100%;
  height: 100%;
}
.content__body__graphsOne--item__data__head__text {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content__body__graphsOne--item__data__graph {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 1rem;
  align-self: stretch;
}
.content__body__graphsOne--item__data__graph__textLeft {
  width: 37.8rem;
  transform: rotate(-90deg);
  align-self: stretch;
  text-align: center;
  font-family: Helvetica;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #ffffff;
}
.content__body__graphsOne--item__data__graph__chart {
  display: flex;
  height: 37.8rem;
  padding: 0rem 73.6rem 0.1rem 0.3rem;
  align-items: center;
}
.content__body__itemCont {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 2.4rem;
}
.content__body__itemCont__itemPrim {
  display: flex;
  padding: 3.2rem 2.4rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  flex: 1 0 0.6;
  border-radius: 1.6rem;
  border: 1px solid #a4acb7;
  background-color: #24252d;
}
.content__body__itemCont__itemPrim__body {
  display: flex;
  padding: 0.8rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}
.content__body__itemCont__itemPrim__body__top {
  display: flex;
  min-height: 16.2rem;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}
.content__body__itemCont__itemPrim__body__top__head {
  display: flex;
  padding: 0rem 1.2rem;
  align-items: center;
  gap: 1.2rem;
}
.content__body__itemCont__itemPrim__body__top__head__text {
  color: #fff;
  font-family: Helvetica;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content__body__itemCont__itemPrim__body__top__bottom {
  display: flex;
  padding: 0.8rem 1.8rem;
  align-items: flex-start;
  gap: 3.2rem;
  align-self: stretch;
}
.content__body__itemCont__itemPrim__body__top__bottom__item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.2rem;
}
.content__body__itemCont__itemPrim__body__top__bottom__item__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}
.content__body__itemCont__itemPrim__body__top__bottom__item__right--text {
  font-family: Helvetica;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
}
.content__body__itemCont__itemPrim__body__top__bottom__item__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.content__body__itemCont__itemPrim__body__top__bottom__item__left__item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.4rem;
}
.content__body__itemCont__itemPrim__body__top__bottom__item__left__item--text {
  font-family: Helvetica;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #a4acb7;
}
.content__body__itemCont__itemPrim__body__top__bottom__item__left__item--icon {
  width: 1.6rem;
  height: 1.6rem;
}
.content__body__itemCont__itemPrim__body__top__bottom__item__left__item--icon > svg {
  height: 100%;
  width: 100%;
}
.content__body__itemCont__itemPrim__body__bottom__item {
  display: flex;
  padding: 0.4rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 1 0 0;
}
.content__body__itemCont__itemPrim__body__bottom__item__bottom {
  display: flex;
  height: 14.4rem;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
  align-self: stretch;
}
.content__body__itemCont__itemPrim__body__bottom__item__bottom__head {
  font-family: Helvetica;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
}
.content__body__itemCont__itemPrim__body__bottom__item__bottom__cont {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
}
.content__body__itemCont__itemPrim__body__bottom__item__bottom__cont__item {
  display: flex;
  padding: 0.8rem 1.8rem;
  align-items: flex-start;
  gap: 1.2rem;
}
.content__body__itemCont__itemPrim__body__bottom__item__bottom__cont__item__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
.content__body__itemCont__itemPrim__body__bottom__item__bottom__cont__item__right--text {
  font-family: Helvetica;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
}
.content__body__itemCont__itemPrim__body__bottom__item__bottom__cont__item__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.content__body__itemCont__itemPrim__body__bottom__item__bottom__cont__item__left__item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.4rem;
}
.content__body__itemCont__itemPrim__body__bottom__item__bottom__cont__item__left__item--icon {
  width: 1.6rem;
  height: 1.6rem;
}
.content__body__itemCont__itemPrim__body__bottom__item__bottom__cont__item__left__item--text {
  font-family: Helvetica;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #a4acb7;
}
.content__body__itemCont__itemPrim__body__bottom__item__top {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
  align-self: stretch;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__head {
  display: flex;
  min-height: 3.2rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__head__left {
  display: flex;
  width: 24.4rem;
  height: 4.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__head__left--main {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__head__left--secondary {
  font-family: Helvetica;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #a4acb7;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__head__right {
  display: flex;
  padding: 0rem 1rem;
  align-items: center;
  gap: 0.6rem;
  align-self: stretch;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__head__right:hover {
  cursor: pointer;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__head__right:hover > .content__data__summary__main__data__item__top__head__right--text {
  color: #45b1e8;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__head__right:hover > .content__data__summary__main__data__item__top__head__right--icon > svg > path {
  fill: #45b1e8;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__head__right--icon {
  width: 1.6rem;
  height: 1.6rem;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__head__right--icon > svg {
  height: 100%;
  width: 100%;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__head__right--icon > svg > path {
  transition: all 0.2s ease-in-out;
  fill: #a4acb7;
  transition: all 0.2s ease-in-out;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__head__right--text {
  transition: all 0.2s ease-in-out;
  font-family: Helvetica;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__cont {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__cont__item {
  display: flex;
  padding: 0.8rem 1.8rem;
  align-items: flex-start;
  gap: 1.2rem;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__cont__item__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__cont__item__right--text {
  font-family: Helvetica;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  align-self: flex-end;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__cont__item__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__cont__item__left__item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.4rem;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__cont__item__left__item--icon {
  width: 1.6rem;
  height: 1.6rem;
}
.content__body__itemCont__itemPrim__body__bottom__item__top__cont__item__left__item--text {
  font-family: Helvetica;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #a4acb7;
}
.content__body__itemCont__itemPrim__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.content__body__itemCont__itemPrim__head__text {
  font-family: Helvetica;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #a4acb7;
}
.content__body__itemCont__itemPrim__head__right {
  display: flex;
  padding: 0rem 1rem;
  align-items: center;
  gap: 0.6rem;
  align-self: stretch;
}
.content__body__itemCont__itemPrim__head__right:hover {
  cursor: pointer;
}
.content__body__itemCont__itemPrim__head__right:hover > .content__body__itemCont__itemPrim__head__right__icon > svg > g > path {
  fill: #45b1e8;
}
.content__body__itemCont__itemPrim__head__right:hover > .content__body__itemCont__itemPrim__head__right__text {
  color: #45b1e8;
}
.content__body__itemCont__itemPrim__head__right__text {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  line-height: normal;
}
.content__body__itemCont__itemPrim__head__right__icon {
  width: 1.8rem;
  height: 1.8rem;
}
.content__body__itemCont__itemPrim__head__right__icon > svg > g > path {
  transition: all 0.3s ease-in-out;
}
.content__body__itemCont__item {
  display: flex;
  min-height: 44.6rem;
  padding: 3.2rem 2.4rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  flex: 1 0 0;
  border-radius: 1.6rem;
  border: 1px solid #a4acb7;
  background: #31323d;
  max-height: 44.6rem;
  min-height: 44.6rem;
}
.content__body__itemCont__item__data {
  display: flex;
  padding: 0.8rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  height: 100%;
  overflow-y: scroll;
}
.content__body__itemCont__item__data__list {
  display: flex;
  padding: 0.8rem 0rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  align-self: stretch;
}
.content__body__itemCont__item__data__list__item {
  display: flex;
  padding: 1rem;
  border-radius: 0.4rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid #a4acb7;
  transition: all 0.3s ease-in-out;
}
.content__body__itemCont__item__data__list__item--selected {
  background: #24252d;
}
.content__body__itemCont__item__data__list__item__right {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 4.8rem;
  align-self: stretch;
}
.content__body__itemCont__item__data__list__item__right__btn {
  display: flex;
  padding: 1.2rem 2.8rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  outline: 1px solid #a4acb7;
  gap: 0.8rem;
  transition: all 0.3s ease-in-out;
}
.content__body__itemCont__item__data__list__item__right__btn:hover {
  cursor: pointer;
  background: #24252d;
  outline: 1px solid #24252d;
}
.content__body__itemCont__item__data__list__item__right__btn__circle {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: #a4acb7;
}
.content__body__itemCont__item__data__list__item__right__btn__text {
  font-family: Helvetica;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #a4acb7;
}
.content__body__itemCont__item__data__list__item__right__btn--selected {
  background: #31323d;
  outline: 1px solid #31323d;
}
.content__body__itemCont__item__data__list__item__right__btn--selected > .content__body__itemCont__item__data__list__item__right__btn__circle {
  background: #45b1e8;
}
.content__body__itemCont__item__data__list__item__right__btn--selected > .content__body__itemCont__item__data__list__item__right__btn__text {
  color: #45b1e8;
}
.content__body__itemCont__item__data__list__item__right__btn--selected:hover {
  background: #24252d;
  outline: 1px solid #45b1e8;
}
.content__body__itemCont__item__data__list__item__left {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
.content__body__itemCont__item__data__list__item__left__top {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content__body__itemCont__item__data__list__item__left__bottom {
  display: flex;
  padding: 0.4rem 0rem;
  align-items: flex-start;
  gap: 1rem;
}
.content__body__itemCont__item__data__list__item__left__bottom--text {
  color: #a4acb7;
  font-family: Helvetica;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content__body__itemCont__item__data__head {
  display: flex;
  padding: 0rem 1.2rem;
  align-items: center;
  gap: 1.2rem;
}
.content__body__itemCont__item__data__head--text {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content__body__itemCont__item__data__head--icon {
  width: 3.2rem;
  height: 3.2rem;
}
.content__body__itemCont__item__data__head--icon > svg {
  height: 100%;
  width: 100%;
}
.content__body__itemCont__item__data__head--icon > svg > path {
  transition: all 0.2s ease-in-out;
  fill: #ffffff;
}
.content__body__itemCont__item__text {
  color: var(--grey, #a4acb7);
  font-family: Helvetica;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=cpu.css.map */